---
layout: default
title: Soundboard
---
<div class="sound-grid">
    {% for person in site.data.sounds %}
        <div class="sound-column">
            <h2>{{ person.name }}</h2>
            {% for sound in person.sounds %}
                {% capture sound_src %}/assets/sounds/{{person.name}}/{{ sound.title | replace: ' ', '_'}}.mp3{% endcapture %}
                <div class="sound-item" onclick="playSound('{{ sound_src }}')">
                    <h4 class="button-text">{{ sound.title }} </h4>
                </div>

            {% endfor %}
        </div>
    {% endfor %}
</div>