---
layout: default
title: Soundboard
---
<div class="sound-grid">
    {% assign current_name = "" %}
    {% for sound in site.static_files %}
        {% if sound.path contains 'assets/sounds' %}
            {% assign split_path = sound.path | split: '/' %}

            {% if split_path[3] != current_name %}
                {%if current_name != "" %}
                    </div>
                {% endif %}
                <div class="sound-column">
                {% assign current_name = split_path[3] %}
                
                <h2>{{current_name}}</h2>
            {% endif %}
            <div class="sound-item" onclick="playSound('{{ sound.path }}')">
                <h4 class="button-text">{{ sound.basename | replace: "_", " "}} </h4>
            </div>
        {% endif %}
    {% endfor %}
</div>
</div>
<a id="hidden-link" href="https://drive.google.com/open?id=1jWGEHtZsaNDh5dr3bGFl1ZJg9aDfgSkj">Google Drive</a>
