$logo-aspect: 438 / 1080;

$logo-width: 69vw;
$logo-height: ($logo-width * $logo-aspect);

$responsive-logo-width: 90vw;
$responsive-logo-height: ($responsive-logo-width * $logo-aspect);

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

html {
  font-family: "Roboto Slab";
  text-align: center;
  margin:0;
  padding:0;
}
body{
  margin:0;
  padding:0;
}
.fullpage{
  height: 100vh;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
nav {
  padding-top:32px;
  text-align: center;
  // width:70%;
  a {
    padding: 8px 16px;
    font-size: 2em;
    color: black;
  }
  .current-tab {
    color: rgb(252, 95, 95);
  }
  @media screen and (max-width: 800px) {
    padding-top: 0;
    a {
      display: block;
    }
  }
}



p {
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 800px) {
  p {
    width: 95%;
  }
}


#logo_div {
  margin-bottom: 16px;
  width: $logo-width;
  height: $logo-height;
  @media screen and (max-width: 800px) {
    width: $responsive-logo-width;
    height: $responsive-logo-height;
  }
  // position: relative;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

#logo_main {
  width: 100%;
  height: auto;
  position: relative;
  // left: 0;

  -webkit-mask-image: url("../images/kgg_logo_main.png");
  mask-image: url("../images/kgg_logo_main.png");
  -webkit-mask-size: 100%;
  mask-size: 100%;

  background-image: url("../images/logo_splash.png");
  background-size:150%;

  -webkit-animation: orbit 40s linear infinite;
  -z-animation: orbit 40s linear infinite;
  -o-animation: orbit 40s linear infinite;
  animation: orbit 40s linear infinite;
}

@include keyframes(orbit) {

  0% {
    background-position: 50% 0%;
  }
  12.5% {
    background-position: 82% 18%;
  }
  25% {
    background-position: 100% 50%;
  }
  37.5% {
    background-position: 82% 82%;
  }
  50% {
    background-position: 50% 100%;
  }
  62.5% {
    background-position: 18% 82%;
  }
  75% {
    background-position: 0% 50%;
  }
  87.5% {
    background-position: 18% 18%;
  }
  100% {
    background-position: 50% 0%;
  }
}

#logo_extra {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;

  -webkit-mask-image: url("../images/kgg_logo_extra_black.png");
  mask-image: url("../images/kgg_logo_extra_black.png");
  -webkit-mask-size: 100%;
  mask-size: 100%;

  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@include keyframes(rainbow) {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}


//NEWS
.newsletter {
  width: 85vw;
  height: 110vw;
}

//SOCIAL
.fab {
  width: 32px;
  height: 32px;
  padding: 4px;
  color: #e94b4b;
}
.fab:hover {
  opacity: 0.7;
}
 
#about_div{
  width:95%;
  height: 50%;

  margin: 0;
  position: absolute;
  top: 125%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


  font-size: 3em;
  @media screen and (max-width: 800px) {
    font-size: 2.5em;
  }
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(31, 31, 31);
  a{
    color:rgb(219, 80, 80);
    font-weight: 600;
  }
}

.wrap{
  -webkit-animation: blinkTextCursor 500ms steps(44) infinite normal;
  -z-animation: blinkTextCursor 500ms steps(44) infinite normal;
  -o-animation: blinkTextCursor 500ms steps(44) infinite normal;
  animation: blinkTextCursor 500ms steps(44) infinite normal;

  border-right: 0.06em solid #666
}

@keyframes blinkTextCursor{
  from{border-right-color:#666;}
  to{border-right-color: transparent;}
}

.vertical-align{
  vertical-align: top;
}

.center-in-page{
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}